<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Bookinx | Transport & Logistics: {{title}}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body class="light-blue lighten-1">   
    <ul id="slide-out" class="side-nav deep-purple darken-3">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="office.jpg">
                </div>
                <a href="#!user">
                    <img class="circle" src="user.png">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li>
            <a href="/" class="white-text">Book A Trip
                <i class="material-icons left white-text">event_available</i>
            </a>
        </li>
        <li>
            <a href="#" class="white-text">Cargo Services
                <i class="material-icons left white-text">flight_takeoff</i>
            </a>
        </li>
        <li>
            <a href="#" class="white-text">Move In
                <i class="material-icons left white-text">local_shipping</i>
            </a>
        </li>
        <li>
            <a href="#" class="white-text">My Account
                <i class="material-icons left white-text">sentiment_very_satisfied</i>
            </a>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse" style="margin-left: 10px;">
        <i class="material-icons medium white-text">menu</i>        
    </a>
    <div class="section no-pad-bot" id="index-banner" style="padding-top: 0 !important;">
        <div>
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="page-footer deep-purple darken-3">
        <div class="space-left">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Bookinx</h5>
                    <p class="grey-text text-lighten-4">Bookinx is an online Logistics solution for booking ferry and bus tickets 
                        within Tanzania and also booking a moving service if you are changing apartments.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Know More</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">FAQs</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Partners</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Facebook</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Twitter</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">LinkedIn</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright purple darken-4">
            <div class="space-left">
                Powered by
                <a class="white-text" href="http://www.jmneontech.com">JM Neontech Limited</a> | All Rights Reserved
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>    
</body>

</html>