 {% set title = 'Book' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="row container">
    <form class="col s12" method="post" id="_sd">

        <div class="row">
            <div class="col s12">
                <div class="card black">
                    <div class="card-content white-text">
                        <span class="card-title">Select Seat</span>
                    </div>
                </div>
            </div>
        </div>
        {% if trips.length > 0 %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <div class="col s12 l5">
                        <h5>{{ trips[0].departure_date | shortDate }}</h5>
                        <div class="divider"></div>
                        <div class="col s12">
                            <h4>{{ trips[0].departure_port }}</h4>
                        </div>
                        <div class="col s12">
                            <i class="small material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12">
                            <h4>{{ trips[0].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12 l7">
                        <div class="col s12">
                            <br />
                            <br /> {% for p in prices %}
                            <div class="col s12 l6 black white-text" style="border: 2px solid #ccc;">
                                <p>
                                    <input type="hidden" name="data1" value="{{p.seatClass}} - {{p.resident_price}}-{{ trips[0].departure_port }}-{{ trips[0].destination }}-{{ trips[0].departure_time }}" />
                                    <input class="center" type="radio" id="firstleg_ {{p.seatClass}}" name="_toPrice"/>
                                    <label style="font-size: 20px" for="firstleg_ {{p.seatClass}}">{{p.seatClass}}
                                        <br /> Tsh{{p.resident_price}}</label>
                                </p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endif %} {% if trips[1].departure_port != undefined %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <div class="col s12 l5">
                        <h5>{{ trips[1].departure_date | shortDate }}</h5>
                        <div class="divider"></div>
                        <div class="col s12">
                            <h4>{{ trips[1].departure_port }}</h4>
                        </div>
                        <div class="col s12">
                            <i class="small material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12">
                            <h4>{{ trips[1].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12 l7">
                        <div class="col s12">
                            <br />
                            <br /> {% for p in prices %}
                            <div class="col s12 l6 black white-text" style="border: 2px solid #ccc;">
                                <p>
                                    <input type="hidden" name="data2" value="{{p.seatClass}}-{{p.resident_price}}-{{ trips[1].departure_port }}-{{ trips[1].destination }}-{{ trips[1].departure_time }}" />
                                    <input class="center" type="radio" id="firstleg_ {{p.seatClass}}" name="_fromPrice" value="{{p.seatClass}} - {{p.resident_price}}"/>
                                    <label style="font-size: 20px" for="firstleg_ {{p.seatClass}}">{{p.seatClass}}
                                        <br /> Tsh{{p.resident_price}}</label>
                                </p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endif %}

        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn-large left black" onclick="sendData()">CONTINUE BOOKING</a>
            </div>
            <input type="hidden" name="booktrip" value="booktrip"></input>
        </div>
    </form>
</div>
<script>
    function sendData() {
        document.getElementById("_sd").submit();
    }
</script> {% endblock %}