 {% set title = 'Book' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="row container">
    <form class="col s12" method="post" id="_sd">

        <div class="row">
            <div class="col s12">
                <div class="card black">
                    <div class="card-content white-text">
                        <span class="card-title">Select Seat</span>
                    </div>
                </div>
            </div>
        </div>
        {% if trips.length > 0 %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <div class="col s12 l5">
                        <h5>{{ trips[0].departure_date | shortDate | addDay }}</h5>
                        <div class="divider"></div>
                        <div class="col s12">
                            <h4>{{ trips[0].departure_port }}</h4>
                        </div>
                        <div class="col s12">
                            <i class="small material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12">
                            <h4>{{ trips[0].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12 l7">
                        <div class="col s12">
                            <br />
                            <br /> {% for p in prices %}
                            <div class="col s12 l6 black white-text" style="border: 2px solid #ccc;">

                                {% if uidata.currency == 'TSh' %}
                                <p>
                                    <input class="center seat" type="radio" id="firstleg_{{p.seatClass}}" name="_toPrice" value="{{p.seatClass}} - {{p.resident_price}}"
                                    required/>
                                    <label style="font-size: 20px" for="firstleg_{{p.seatClass}}">{{p.seatClass}}
                                        <br />{{ uidata.currencySymbol }}{{p.resident_price}}</label>
                                </p>
                                {% endif %} {% if uidata.currency == 'USD' %}
                                <p>
                                    <input class="center seat" type="radio" id="firstleg_{{p.seatClass}}" name="_toPrice" value="{{p.seatClass}} - {{p.non_resident_price}}"
                                    required/>
                                    <label style="font-size: 20px" for="firstleg_{{p.seatClass}}">{{p.seatClass}}
                                        <br /> {{ uidata.currencySymbol }}{{p.non_resident_price}}</label>
                                </p>
                                {% endif %}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endif %} {% if trips[1].departure_port != undefined %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <div class="col s12 l5">
                        <h5>{{ trips[1].departure_date | shortDate | addDay }}</h5>
                        <div class="divider"></div>
                        <div class="col s12">
                            <h4>{{ trips[1].departure_port }}</h4>
                        </div>
                        <div class="col s12">
                            <i class="small material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12">
                            <h4>{{ trips[1].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12 l7">
                        <div class="col s12">
                            <br />
                            <br /> {% for p in prices %}
                            <div class="col s12 l6 black white-text" style="border: 2px solid #ccc;">
                                {% if uidata.resident == 'on' %}
                                <p>
                                    <input class="center seat" type="radio" id="secondleg_{{p.seatClass}}" name="_fromPrice" value="{{p.seatClass}}-{{p.resident_price}}"
                                    required/>
                                    <label style="font-size: 20px" for="secondleg_{{p.seatClass}}">{{p.seatClass}}
                                        <br /> Tsh{{p.resident_price}}</label>
                                </p>
                                {% endif %} {% if uidata.resident != 'on' %}
                                <p>
                                    <input class="center seat" type="radio" id="secondleg_{{p.seatClass}}" name="_fromPrice" value="{{p.seatClass}}-{{p.non_resident_price}}"
                                    required/>
                                    <label style="font-size: 20px" for="secondleg_{{p.seatClass}}">{{p.seatClass}}
                                        <br /> ${{p.non_resident_price}}</label>
                                </p>
                                {% endif %}

                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endif %}

        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn-large left black" onclick="sendData()">CONTINUE BOOKING</a>
            </div>
        </div>
    </form>
</div>
<script>
    
    function sendData() {
        var seat = $('.seat');
        var i = 0;
        var count = 0;
        for (i == 0; i < seat.length; i++) {
            if (seat[i].checked == true) {
                count = count + 1;
            }
        }

        if (count > 0) {
            document.getElementById("_sd").submit();
        } else {
            alert("You must select a seat to continue");
        }
        //document.getElementById("_sd").submit();
    }    
</script> {% endblock %}