 {% set title = 'Book' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="row container">
    <form class="col s12" method="post" id="_sd">

        <div class="row">
            <div class="col s12">
                <div class="card black">
                    <div class="card-content white-text">
                        <span class="card-title">Complete Booking</span>
                    </div>
                </div>
            </div>
        </div>


        <div id="loginModal" class="modal">
            <div class="modal-content">
                <h4>Returning Passenger Login</h4>
                <div class="row">
                    <div class="col s12 l6">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input name="userid" id="userid" type="email" class="validate">
                            <label for="userid">Email</label>
                        </div>
                    </div>
                    <div class="col s12 l6">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input name="pwd" id="pwd" type="password" class="validate">
                            <label for="pwd">Password</label>
                        </div>
                    </div>
                    <input type="hidden" id="isLogin" name="isLogin" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
            </div>
        </div>

        <div id="psModal" class="modal">
            <div class="modal-content">
                <h4>Passenger Details</h4>
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="firstname1" id="firstname1" type="text" class="validate">
                        <label for="firstname1">First Name</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="lastname1" id="lastname1" type="text" class="validate">
                        <label for="lastname1">Last Name</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">card_travel</i>
                        <select name="id_type1" id="id_type1">
                            <option value="" disabled selected>Choose ID</option>
                            <option value="Passport">Passport</option>
                            <option value="PhotoID">Photo ID</option>
                            <option value="DriversLicense">Drivers License</option>
                        </select>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input name="id_no1" id="id_no1" type="text" class="validate">
                        <label for="id_no1">Passport/ID No</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 l4">
                            <a class="waves-effect waves-light btn-large right black modal-trigger" href="#loginModal">RETURNING PASSENGER?</a>
                        </div>
                        <br />
                        <br />
                    </div>
                    <!--<div class="card-action">
                    </div>-->
                </div>
            </div>
        </div>

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h5>Passenger Information</h5>
                    <div class="divider"></div>
                    <div class="section">
                        <div class="row">
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">account_circle</i>
                                <input name="firstname" id="firstname" type="text" class="validate">
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">account_circle</i>
                                <input name="lastname" id="lastname" type="text" class="validate">
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">email</i>
                                <input name="email" id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">card_travel</i>
                                <select name="id_type" id="id_type">
                                    <option value="" disabled selected>Choose ID</option>
                                    <option value="Passport">Passport</option>
                                    <option value="PhotoID">Photo ID</option>
                                    <option value="DriversLicense">Drivers License</option>
                                </select>
                            </div>
                            <div class="input-field col s12 l4">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input name="id_no" id="id_no" type="text" class="validate">
                                <label for="id_no">Passport/ID No</label>
                            </div>
                            <!--<div class="input-field col s12 l4">
                                <i class="material-icons prefix">email</i>
                                <input name="email" id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>-->
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn-large right black modal-trigger" href="#psModal">ADD PASSENGERS</a>
                            <a class="waves-effect waves-light btn-large right black">MAKE PAYMENT</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 m6">
                            <a class="waves-effect waves-light btn-large left black" onclick="sendData()">CONTINUE AS GUEST</a>
                        </div>
                        <div class="col s12 m6">
                            <a class="waves-effect waves-light btn-large right black" onclick="sendData()">CONTINUE AS EXISTING PASSENGER</a>
                        </div>
                        <input type="hidden" name="booktrip" value="booktrip"></input>
                        <br />
                        <br />
                    </div>
                    <!--<div class="card-action">
                    </div>-->
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function sendData() {
        document.getElementById("_sd").submit();
    }
    function Login(){
        $('#isLogin').val("true");
        document.getElementById("_sd").submit();
    }
</script> {% endblock %}