 {% set title = 'Schedules' %} {% extends 'views/_layout.html' %} {% block content %}
<div class="row white-text">
    <div class="col s12 m9">
        <h2 class="space-left">Schedules</h2>
        <div class="col s12">
            <table class="col s12 responsive-table highlight">
                <thead>
                    <tr>
                        <th>Vessel</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Booked Seats</th>
                        <th>Free Seats</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in schedules %}
                    <tr>
                        <td>{{s.vessel}}</td>
                        <td>{{s.departure_port}}</td>
                        <td>{{s.destination}}</td>
                        <td>
                            {{ s.departure_date | shortDate }}
                        </td>
                        <td>{{s.departure_time}}</td>
                        <td>{{s.booked_seats}}</td>
                        <td>{{s.available_seats}}</td>
                        <td>{{s.status}}</td>
                    </tr>
                    {% endfor%}

                </tbody>
            </table>

            <br />
            <br />
            <br />
            <br />
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger purple darken-4" href="#modal1">Add Schedule</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <form method="POST" id="_sd">
                    <div class="modal-content">
                        <h4>New Schedule</h4>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">directions_boat</i>
                                <select name="vessel">
                                    <option value="" disabled selected>Select Vessel</option>
                                    {% for v in _vs%}
                                        <option value="{{ v.Vessel }}/{{ v.Capacity }}">{{ v.Vessel }}</option>
                                    {% endfor %}                                    
                                </select>
                            </div>

                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">directions_boat</i>
                                <select name="_route">
                                    <option value="" disabled selected>Select Route</option>
                                    {% for p in _routes%}
                                        <option value="{{ p }}">{{ p | toTitleCase }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">date_range</i>
                                <input id="departure_date" name="departure_date" type="text" class="datepicker validate">
                                <label for="departure_date">Departure Date</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">access_time</i>
                                <input id="departure_time" name="departure_time" type="text" class="timepicker validate">
                                <label for="departure_time">Departure Time</label>
                            </div>
                        </div>
                        <div class="row">
                            <h5>Prices</h5>

                            <table class="col s12 responsive-table highlight">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Age</th>
                                        <th>Resident Rate</th>
                                        <th>Non-Resident Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in _prices %}
                                    <tr>
                                        <td>{{p.seatClass}}</td>
                                        <td>{{p.age}}</td>
                                        <td>${{p.resident_price}}</td>
                                        <td>${{p.non_resident_price}}</td>
                                    </tr>
                                    {% endfor%}

                                </tbody>
                            </table>
                            <input type="hidden" name="limit" value="{{limit}}" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="waves-effect waves-green btn-flat" onclick="sendData()">Save</a>
                        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col s12 m3">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <div class="icon-block">
                    <br />
                    <h5 class="center">Enjoy Comfort & Class</h5>
                    <img src="inside.jpg" alt="interior" width="100%" />
                </div>
            </div>

            <div class="col s12">
                <div class="icon-block">
                    <br />
                    <h5 class="center">Safe & Fast Vessels</h5>
                    <img src="overview.jpg" alt="interior" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function sendData() {
        document.getElementById("_sd").submit();
    }

    function showDate(dateValue) {
        return dateValue.getDate();
    }
</script>
{% endblock %}