 {% set title = 'Trips' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="row container">
    <form class="col s12" method="post">

        {% for trip in trips[0]%}

        <div class="card horizontal">
            <div class="card-image hide-on-med-and-down">
                <img src="sidebar.png" height="400">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Trip Details</h4>
                    <div class="divider"></div>
                    <div class="col s12">
                        <div class="row">

                            <div class="col s12 l5">
                                <h5>From</h5>
                                <h2>{{ trip.departure_port }}</h2>
                                <h4>{{ trip.departure_time }}</h4>
                            </div>
                            <div class="col s12 l2">
                                <h1>
                                    <i class="hide-on-med-and-down large material-icons prefix left">arrow_forward</i>
                                </h1>
                                <h1>
                                    <i class="hide-on-large-only large material-icons prefix">arrow_downward</i>
                                </h1>
                            </div>
                            <div class="col s12 l5">
                                <h5>To</h5>
                                <h2>{{ trip.destination }}</h2>
                                <h4>{{ trip.arrivalTime }}</h4>
                            </div>

                        </div>

                        <div class="divider"></div>

                        <br/>
                    </div>
                </div>

            </div>
        </div>

        {% endfor %}

        {% for trip in trips[1]%}

        <div class="card horizontal">
            <div class="card-image hide-on-med-and-down">
                <img src="sidebar.png" height="400">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Return Details</h4>
                    <div class="divider"></div>
                    <div class="col s12">
                        <div class="row">

                            <div class="col s12 l5">
                                <h5>From</h5>
                                <h2>{{ trip.departure_port }}</h2>
                                <h4>{{ trip.departure_time }}</h4>
                            </div>
                            <div class="col s12 l2">
                                <h1>
                                    <i class="hide-on-med-and-down large material-icons prefix left">arrow_forward</i>
                                </h1>
                                <h1>
                                    <i class="hide-on-large-only large material-icons prefix">arrow_downward</i>
                                </h1>
                            </div>
                            <div class="col s12 l5">
                                <h5>To</h5>
                                <h2>{{ trip.destination }}</h2>
                                <h4>{{ trip.arrivalTime }}</h4>
                            </div>

                        </div>

                        <div class="divider"></div>

                        <br/>
                    </div>
                </div>

            </div>
        </div>

        {% endfor %}


    </form>
</div>
{% endblock %}