 {% set title = 'Trips' %} {% extends 'views/_layout.html' %} {% block content %}

<div class="row container">
    <form class="col s12" method="post" id="_sd">

        <div class="row">
            <div class="col s12">
                <div class="card black">
                    <div class="card-content white-text">
                        <span class="card-title">Search Result</span>
                    </div>
                </div>
            </div>
        </div>
        {% if trips[0].length > 0 %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h5>{{ trips[0][0].departure_date | shortDate }}: Trip Details</h5>
                    <div class="divider"></div>
                    <div class="section">
                        <div class="col s12 l5">
                            <h4>{{ trips[0][0].departure_port }}</h4>
                        </div>
                        <div class="col s12 l2">
                            <i class="hide-on-med-and-down medium material-icons prefix left">arrow_forward</i>
                            <i class="hide-on-large-only medium material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12 l5">
                            <h4>{{ trips[0][0].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">

                            <table class="col s12 responsive striped highlight">
                                <tbody>
                                    {% for trip in trips[0]%}
                                    <tr>
                                        <td>
                                            <h6>{{ trip.departure_time }} - {{ trip.arrivalTime }}</h6>
                                        </td>
                                        <td>
                                            <h6>{{ trip.vessel }}</h6>
                                        </td>
                                        <td>
                                            <h6>{{ trip.available_seats }} Seats Available</h6>
                                        </td>
                                        <td>
                                            <div class="input-fieldcol">
                                                <p>
                                                    <input type="radio" id="firstleg - {{trip.schedule_id}}" name="firstleg" value="{{trip.schedule_id}}" />
                                                    <label for="firstleg - {{trip.schedule_id}}">Select</label>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        {% endif %} {% if trips[1].length > 0 %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">

                    <h5>{{ trips[1][0].departure_date | shortDate }}: Trip Details</h5>
                    <div class="divider"></div>
                    <div class="section">
                        <div class="col s12 l5">
                            <h4>{{ trips[1][0].departure_port }}</h4>
                        </div>
                        <div class="col s12 l2">
                            <i class="hide-on-med-and-down medium material-icons prefix left">arrow_forward</i>
                            <i class="hide-on-large-only medium material-icons prefix">arrow_downward</i>
                        </div>
                        <div class="col s12 l5">
                            <h4>{{ trips[1][0].destination }}</h4>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">

                            <table class="col s12 responsive striped highlight">
                                <tbody>
                                    {% for trip in trips[1]%}
                                    <tr>
                                        <td>
                                            <h6>{{ trip.departure_time }} - {{ trip.arrivalTime }}</h6>                                            
                                        </td>
                                        <td>
                                            <h6>{{ trip.vessel }}</h6>
                                        </td>
                                        <td>
                                            <h6>{{ trip.available_seats }} Seats Available</h6>
                                        </td>
                                        <td>
                                            <div class="input-fieldcol">
                                                <p>
                                                    <input type="radio" id="secondleg - {{trip.schedule_id}}" name="secondleg" value="{{trip.schedule_id}}" />
                                                    <label for="secondleg - {{trip.schedule_id}}">Select</label>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        {% endif %} {% if trips[0].length > 0 or trips[1].length > 0 %}
        <div class="row">
            <div class="col s12">
                <div class="card black">
                    <div class="card-action right">
                        <a href="#" class="white-text" onclick="sendData()">CONTINUE</a>
                        <input type="hidden" name="booktrip" value="booktrip"></input>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} {% if trips[0].length == 0 and trips[1].length == 0 %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h3>No trips for the selected date. Please check other dates</h3>
                    </div>
                    <div class="card-action right black">
                        <a href="/" class="white-text">TRY AGAIN</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
<script>
    function sendData() {
        document.getElementById("_sd").submit();
    }
</script> {% endblock %}